{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        {{ skills.title }}
    </h2>
    <div class="skillset">
        <div class="item">
            <div>
                <p class="level-title"><b>LANGUAGES:</b></p>
                <p>Javascript, Ruby, HTML, CSS</p>
            </div>
            <div>
                <p class="level-title"><b>FRAMEWORKS, LIBRARIES, AND ENVIRONMENTS:</b></p>
                <p>ReactJS, Ruby on Rails, Node.JS, Jquery, EJS, ERB, SASS, Bootstrap, Mocha, Ajax, Express, Knex, SocketIO</p>
                <br>
            </div>
            <div>
                <p class="level-title"><b>SYSTEMS, CMS &amp DATABASES:</b></p>
                <p>Active Record, PostgreSQL, SQL, MongoDB, Git</p>
                <br>
            </div>
            <div>
                <p class="level-title"><b>TESTING:</b></p>
                <p>RSpec, Capybara, Poltergeist, Chai</p>
            </div>
            <div>
                <p class="level-title"><b>OTHERS:</b></p>
                <p>Google Sheets, Adobe Photoshop</p>
            </div>
        </div>
    </div>
</section>
<!--//skills-section-->
{% endif %}