{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        {{ skills.title }}
    </h2>
    <div class="skillset">
        <div class="item">
            <p class="level-title">LANGUAGES:</p>
            <p>Javascript, HTML, CSS</p>
            <p class="level-title">FRAMEWORKS, LIBRARIES, AND ENVIRONMENTS</p>
            <p>Node.JS, ReactJS, Ajax, Express, Knex, EJS, Jquery, Bootstrap, SASS, SocketIO, ReactJS</p>
            <p class="level-title">SYSTEMS, CMS &amp DATABASES</p>
            <p>SQL, MongoDB, Git</p>
            <p class="level-title">TESTING</p>
            <p>Chai</p>
            <p class="level-title">OTHERS</p>
            <p>Google Sheets, Adobe Photosop</p>
        </div>
    </div>
</section>
<!--//skills-section-->
{% endif %}