{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        {{ skills.title }}
    </h2>
    <div class="skillset">
        <div class="item">
            <span>
                <h3 class="level-title">LANGUAGES:</h3>
            </span>
            <span>
                <h4>Javascript, HTML, CSS</h4>
            </span>
        </div>
    </div>
</section>
<!--//skills-section-->
{% endif %}